
*{
  color: #474E68;
  outline: none;
}

body{
  background-color: #fff;
  padding-bottom: 2rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4b4b4b;
  opacity: 1; /* Firefox */
}

.BuscadorContainer {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 1rem 1rem;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-items: flex-end;
}

.InputContainer{
  display: flex;
}

.ButtonContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

button {
  height: 32px;
  width: 100px;
  border-radius: 8px;
  margin-left: 5px;
  background: #f3f3f3;
  border-width: 0;
}

button:hover {
  background: #d3d3d3;
}

.BuscadorTextInput {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 5px;
}

.BuscadorTextInput > input {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border-width: 0;
  font-weight: 500;
  
}

.BuscadorTextInput > input:focus {
  border-width: 0;
  outline: none;
  background-color: #d3d3d3;
}

.BuscadorTextInput > input:hover {
  border-width: 0;
  outline: none;
  background-color: #d3d3d3;
}

.BuscadorTextInput > label {
  font-weight: 500;
  margin-bottom: 5px;
}

.combobox{
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border-width: 0;
  font-weight: 500;
  height: 32px;
}

.combobox:hover{
  border-width: 0;
  
  background-color: #d3d3d3;
}

.responsive-table{
  width: 90%;
  overflow: auto;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

table {
  width: min-content;
  height: fit-content;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;
  border-radius: 15px;
}

th,
td {
	color: #474E68;
  text-align: left;
  padding: 5px;
  min-width: 575px;
  overflow: hidden;
}

.t-max {
  white-space: nowrap;
  min-width: max-content;
  width: max-content;
  max-width: max-content;
  margin: 0 5px;
}



tr {
  margin-bottom: 20px;
}

tr:nth-child(even){
  background-color: #d3d3d3;
}

tr:hover{
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3; 
  border-radius: 10px;
}

.map-container{
  margin-top: 15px;
  width: 60rem;
  height: 60rem;
  overflow: hidden;
  border-radius: 15px;
}

.infowindow{
  display: flex;
  flex-direction: column;
}
